certifi==2022.12.7
charset-normalizer==3.0.1
etcd3==0.12.0
grpcio==1.51.3
ibm-cloud-sdk-core==3.16.2
ibm-platform-services==0.31.1
ibm-schematics==1.1.0
idna==3.4
protobuf==4.22.1
PyJWT==2.6.0
python-dateutil==2.8.2
requests==2.28.2
six==1.16.0
tenacity==8.2.2
urllib3==1.26.14
